

html,
body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
  
    -webkit-font-smoothing: antialiased;
    background-color: #181818;


    -moz-osx-font-smoothing: grayscale;
}
.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color: #00E676;
    
}

.nav div.main_list {
    height: 65px;
    float: right;
    
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
    transition: all 1s;
}

.nav div.main_list ul li a:hover {
    color: #00E676;
    transition: 0.5s;
}

.home {
    width: 100%;
    height: 100vh;
    background-color: #181818;
    background-position: center top;
    background-size:cover;
    transition: 5s;
    animation-name: slideshow;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;

}
.home .heading{
  
    
}
.home .heading .headingbx{
    

}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
       
       
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
       
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
    .title h2{
        font-size: 30px;
}
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #111;
}





/*code*/

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/varelaround/v13/w8gdH283Tvk__Lua32TysjIfp8uK.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Telefon Black';
    src: url('https://raw.githubusercontent.com/arnabmunshi/fontface/master/TelefonBlack/Telefon-Black.woff2') format('woff2'), url('https://raw.githubusercontent.com/arnabmunshi/fontface/master/TelefonBlack/Telefon-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
  }
  .page-event {
    background-color: #212121;
    padding-bottom: 40px;
    font-family: "Varela Round", sans-serif;
  }
  .page-event .cover {
    background-color: #36353a;
    height: 360px;
    background-image: url('https://goo.gl/NA3iQP');
    background-position: center center;
    background-size: cover;
  }
  .page-event .cover .heading {
    font-family: 'Telefon Black';
    font-size: 243px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ccc;
    transition: font-size 0.3s;
  }
  .page-event .cover .heading::first-letter {
    color: #db2d8e;
  }
  .page-event .upcoming-sec {
    padding: 5vh 0;
    border-bottom: 1px solid #ccc;
  }
  .page-event .upcoming-sec .heading {
    font-size: 30px;
    color: #fff;
  }
  .page-event .upcoming-event-list {
    color: #ccc;
  }
  .page-event .upcoming-event-list .event-block {
    padding: 5vh 0;
    border-bottom: 1px solid #ccc;
  }
  .page-event .upcoming-event-list .event-block .sec-1,
  .page-event .upcoming-event-list .event-block .sec-2 {
    padding-bottom: 3vh;
  }
  .page-event .upcoming-event-list .event-block .sec-1 table .month {
    text-transform: uppercase;
    color: #db2d8e;
    font-size: 30px;
  }
  .page-event .upcoming-event-list .event-block .sec-1 table .month-date-devider {
    width: 5vh;
    margin: 1vh 0;
    background-color: #3cbfaf;
    height: 5px;
  }
  .page-event .upcoming-event-list .event-block .sec-1 table .date {
    font-size: 60px;
    font-weight: bolder;
    line-height: normal;
  }
  .page-event .upcoming-event-list .event-block .sec-1 table .title {
    padding-left: 20px;
    vertical-align: top;
    font-size: 30px;
  }
  .page-event .upcoming-event-list .event-block .sec-2 img {
    width: 100%;
  }
  .page-event .upcoming-event-list .event-block .sec-3 .title {
    font-size: 30px;
    padding-bottom: 2vh;
  }
  .page-event .upcoming-event-list .event-block .sec-3 .venue table td {
    vertical-align: top;
  }
  .page-event .upcoming-event-list .event-block .sec-3 .venue table td i {
    color: #db2d8e;
    padding-left: 3px;
    padding-right: 10px;
  }
  .page-event .upcoming-event-list .event-block .sec-3 .venue table td .dim-color a {
    color: rgba(204, 204, 204, 0.3);
  }
  .page-event .upcoming-event-list .event-block .sec-3 .time {
    padding-bottom: 3vh;
  }
  .page-event .upcoming-event-list .event-block .sec-3 .time table td {
    vertical-align: top;
  }
  .page-event .upcoming-event-list .event-block .sec-3 .time table td i {
    color: #db2d8e;
    padding-right: 10px;
  }
  .page-event .upcoming-event-list .event-block .sec-3 .time table td .dim-color {
    color: rgba(204, 204, 204, 0.3);
  }
  .page-event .upcoming-event-list .event-block .sec-3 .sort-story {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
  }
  .page-event .upcoming-event-list .event-block .sec-3 .group-of-btn {
    padding-top: 3vh;
    
  }
  .page-event .upcoming-event-list .event-block .sec-3 .group-of-btn .book-ticket {
 
    color: #fff;
    padding: ;
    margin-bottom: 10px;
  }
  .page-event .page-heading {
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 17px;
    word-break: break-all;
    padding: 10px;
  }
  .page-event .page-heading::first-letter {
    color: #db2d8e;
  }
  @media (min-width: 992px) {
    .upcoming-event-list .event-block .sec-1 table .title {
      display: none;
    }
  }
  @media (max-width: 991px) {
    .page-event .cover .heading {
      font-size: 180px;
      padding-top: 7vh;
    }
    .upcoming-event-list .event-block .sec-3 .title {
      display: none;
    }
  }
  @media (max-width: 767px) {
    .page-event .cover .heading {
      font-size: 140px;
      padding-top: 11vh;
    }
  }
  @media (max-width: 575px) {
    .page-event .cover {
      height: 214px;
    }
    .page-event .cover .heading {
      font-size: 70px;
    }
    .page-event .upcoming-event-list .event-block .sec-1 table .month {
      font-size: 14px;
    }
    .page-event .upcoming-event-list .event-block .sec-1 table .date {
      font-size: 36px;
    }
    .page-event .upcoming-event-list .event-block .sec-1 table .title {
      padding-left: 20px;
      font-size: 20px;
      vertical-align: top;
    }
  }
  